<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WDBXEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WDBXEditor.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseURL" serializeAs="String">
                <value>https://github.com/WowDevTools/WDBXEditor/releases</value>
            </setting>
            <setting name="ReleaseAPI" serializeAs="String">
                <value>http://api.github.com/repos/WowDevTools/WDBXEditor/releases</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/4.0 (Compatible; Windows NT 5.1; MSIE 6.0) (compatible; MSIE 6.0; Windows NT 5.1; WDBXEditor</value>
            </setting>
            <setting name="RecentMPQ" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentCASC" serializeAs="String">
                <value />
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </WDBXEditor.Properties.Settings>
    </userSettings>
</configuration>